version: "3.8"

services:
  intelligrader-api:
    build: .
    container_name: intelligrader-api
    restart: unless-stopped
    networks:
      - web_network

  nginx:
    image: nginx:alpine
    depends_on:
      - intelligrader-api
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - /etc/ssl/peral.one.pem:/etc/ssl/peral.one.pem:ro  
      - /etc/ssl/peral.one.key:/etc/ssl/peral.one.key:ro  
    networks:
      - web_network

networks:
  web_network:
    driver: bridge
