name: CI-CD Deployment Pipeline

on:
  push:
    branches: [ "main" ]  

jobs:
  deploy:
    runs-on: self-hosted  # Targets Lightsail server
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Cache Models Folder
        uses: actions/cache@v3
        with:
          path: models/
          key: ${{ runner.os }}-models-${{ hashFiles('models/**') }}  # Caches based on the contents of the models folder
          restore-keys: |
            ${{ runner.os }}-models-

      - name: Deploy with Docker Compose
        run: |
          docker compose down --remove-orphans
          
          docker compose up -d --build
          
          docker image prune -f

      - name: Status Check
        run: docker ps